.header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 1px lightgray;

  header {
    width: 100%;
    height: 100%;

    .header-banner {
      width: 100%;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .header-search {
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: row wrap;

      .header-search-logo {
        width: 15%;
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 5px;
        box-sizing: border-box;
        img {
          width: 195px;
          height: 30px;
        }
      }
      .header-search-input {
        width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 5px;
        box-sizing: border-box;
        position: relative;
        a {
          position: absolute;
          right: 15px;
          padding-top: 8px;
          box-sizing: border-box;
          font-size: 15px;
          color: #a1a3a8;
        }
        input[type="text"] {
          width: 600px;
          height: 40px;
          border-radius: 8px;
          outline: none;
          background-color: rgb(231, 229, 229);
          border: none;
          padding-right: 60px;
          box-sizing: border-box;
          &::placeholder {
            font-family: var(--font-family);
            font-size: 14px;
            color: #a1a3a8;
          }
        }
      }
      .header-search-register {
        width: 20%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        .header-search-register-login {
          display: block;
          width: 135px;
          height: 40px;
          border: 1px solid lightgray;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 5px;
          font-family: var(--font-family);
          font-size: 12px;
          text-decoration: none;
          color: #2b2b2b;
          font-weight: bold;
          span {
            display: inline-block;
            width: 2px;
            height: 12px;
            background-color: #2b2b2b;
          }
        }
        span {
          display: inline-block;
          width: 1px;
          height: 25px;
          background-color: lightgray;
        }
      }
    }
    .header-menu {
      width: 100%;
      height: 40px;

      display: flex;
      justify-content: space-between;
      .menu-right {
        width: 85%;
        height: 100%;

        .menu-right-nav {
          width: 100%;
          height: 100%;
          padding-right: 40px;
          box-sizing: border-box;
          display: flex;
          column-gap: 5px;
          .menu-right-nav-item {
            width: fit-content;
            height: 100%;

            .menu-right-nav-item-link {
              display: block;
              width: fit-content;
              height: 100%;
              padding: 0 10px;
              box-sizing: border-box;
              height: 100%;
              line-height: 40px;
              color: #62666d;
              font-family: var(--font-family);
              font-size: 12px;
              text-decoration: none;
              display: flex;
              align-items: center;
              column-gap: 1px;
              transition: 300ms;
              &:hover {
                border-bottom: solid 2px red;
              }
              img {
                transform: scale(0.7, 0.7);
              }
            }
            /*چقد سخت بود تا مگا رو یاد گرفتم ولی بلاخره تونستم بماند به یادگار 13مهر 1404*/
            .submenu {
              width: 80vw;
              height: 70vh;
              background-color: #2b2b2b;
              z-index: 2;
              position: absolute;
              display: none;
              transition: 300ms;
              .submenu-right {
                width: 15%;
                height: 100%;
                background-color: #5b5b5b;
                overflow: auto;
                direction: ltr;
                .submenu-right-item {
                  width: 100%;
                  height: 40px;
                  background-color: grey;
                  margin-bottom: 1px;

                  .submenu-right-item-link {
                    width: 100%;
                    height: 70vh;
                    text-align: center;
                    text-decoration: none;
                    line-height: 40px;
                    color: white;
                    font-family: var(--font-family);
                    display: block;
                    transition: 300ms;

                    &:hover {
                      background-color: gray;
                      color: red;
                    }
                  }
                  .submenu-right-item-submenu {
                    width: 85%;
                    height: 100%;
                    background-color: #fff;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow-y: auto; /* فعال کردن اسکرول عمودی */
                    overflow-x: hidden; /* جلوگیری از اسکرول افقی */
                    scrollbar-width: thin; /* برای مرورگرهای مدرن */
                    scrollbar-color: #ccc #f0f0f0; /* رنگ اسکرول */
                    border-top: 1px solid lightgray;

                    a {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      text-decoration: none;
                      direction: rtl;
                      margin-bottom: 30px;
                      padding-right: 10px;

                      h1 {
                        font-size: 16px;
                        font-family: var(--font-family);
                        font-weight: 500;
                        color: #19bfd3;
                        cursor: pointer;
                        padding-right: 20px;
                      }
                    }
                    .div-flex {
                      display: flex;
                      direction: rtl;
                      flex-wrap: wrap; /* وقتی تعداد زیاد شد به خط بعدی بره */
                      align-content: flex-start; /* آیتم‌ها از بالا شروع بشن */
                      padding: 20px;
                      box-sizing: border-box;
                    }
                    .submenu-column {
                      width: 25%;
                      min-width: 200px;
                      margin-top: 20px;
                      direction: rtl;
                      position: relative;
                      margin: 5px 0;
                      padding: 0;
                      line-height: 0.2;

                      span {
                        display: inline-block;
                        width: 1px;
                        height: 25px;
                        background-color: red;
                        margin: 0 20px;
                        position: absolute;
                        right: 0;
                        top: -9px;
                      }
                      a {
                        padding-right: 30px;

                        color: #0c0c0c;
                        font-family: var(--font-family);
                        font-family: 8px;
                        font-weight: 100;
                        &:hover {
                          color: red;
                        }
                      }
                      svg {
                        position: absolute;
                        right: 60%;
                        top: -11px;
                        &:hover {
                          fill: red;
                        }
                      }
                      .submenu-column a,
                      .submenu-column li {
                        display: block;
                        line-height: 1.8;
                      }
                      li {
                        list-style: none;
                        margin-right: 5px;

                        font-family: var(--font-family);
                      }
                    }
                    .stationery {
                       
                      direction: rtl;
                      flex-wrap: wrap; /* وقتی تعداد زیاد شد به خط بعدی بره */
                      align-content: flex-start; /* آیتم‌ها از بالا شروع بشن */
                      padding: 20px;
                      box-sizing: border-box;
                      display: flex ;

                    }
                    .stationary-submenu{
                      width: 25%;
                      min-width: 200px;
                      margin-top: 20px;
                      direction: rtl;
                      position: relative;
                      margin: 5px 0;
                      padding: 0;
                      line-height: 0.2;
                      
                      
                      span{
                         display: inline-block;
                        width: 1px;
                        height: 25px;
                        background-color: red;
                        margin: 0 20px;
                        position: absolute;
                        right: 0;
                        top: -9px;
                      }
                      a {
                        padding-right: 30px;

                        color: #0c0c0c;
                        font-family: var(--font-family);
                        font-family: 8px;
                        font-weight: 100;
                        &:hover {
                          color: red;
                        }
                      }
                      svg {
                        position: absolute;
                        right: 60%;
                        top: -11px;
                        &:hover {
                          fill: red;
                        }
                      }
                    
                      li {
                        list-style: none;
                        margin-right: 5px;
                         
                        font-family: var(--font-family);
                      }


                    }
                     .stationery1 {
                       
                      direction: rtl;
                      flex-wrap: wrap; /* وقتی تعداد زیاد شد به خط بعدی بره */
                      align-content: flex-start; /* آیتم‌ها از بالا شروع بشن */
                      padding: 20px;
                      box-sizing: border-box;
                      display: flex ;

                    }
                    



                  }
                  a:hover .arrow-icon path {
                    fill: red;
                  }

                  &:hover .submenu-right-item-submenu {
                    display: block;
                  }
                }
              }
            }
            &:hover .submenu {
              display: block;
            }
          }
        }
      }
      [for="location"] {
        display: inline-flex;
        width: max-content;
        height: 40px;
        position: absolute;
        left: 16px;
        top: 130px;
        border-radius: 20px;
        background-color: #fef6ef;
        text-align: center;
        color: #f57f17;
        line-height: 40px;
        font-family: var(--font-family);
        font-weight: 700;
        z-index: 6;
        cursor: pointer;
        padding: 0 20px;
        line-height: 40px;
        font-family: var(--font-family);
        gap: 20px;
        font-size: 12px;
        img {
          margin-right: 5px;
          width: 24px;
        }
      }
      .location {
        width: 450px;
        height: 580px;
        background-color: #fff;
        border-radius: 5px;
        position: fixed;
        left: 350px;
        top: 20%;
        z-index: 6;
        transition: 300ms ease-in-out;
        opacity: 0;
        transform: translateY(-30px);
        direction: rtl;
        overflow-y: auto;

        h3 {
          color: #0c0c0c;
          font-family: var(--font-family);
          padding-right: 20px;
          padding-top: 20px;
        }

        /* کادر جستجو */
        .search-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 15px 20px;
          background-color: #f3f3f3;
          border-radius: 6px;
          padding: 8px 25px;
          position: relative;
        }

        .search-box input {
          border: none;
          outline: none;
          background: none;
          flex: 1;
          font-size: 14px;
          color: #444;
          font-family: var(--font-family);
        }

        .search-box img {
          width: 18px;
          opacity: 0.6;
          position: absolute;
          right: 0;
        }

        /* توضیح */
        .desc {
          color: #555;
          font-size: 13px;
          margin: 0 20px 20px;
          line-height: 1.8;
          
        }

        /* شهرهای پرتکرار */
         h4 {
          color: #424242;
          font-size: 16px;
          padding-right: 20px;
          padding-bottom: 10px;
          font-weight: 500;
          box-sizing: border-box;
          font-family: var(--font-family);
          color: #3f4064;
        }

        .popular-cities {
          display: flex;
          gap: 10px;
          flex-wrap: no wrap;
          margin: 0 20px 20px;
          padding-top: 10px;
          position: ;
        }

        .popular-cities span {
          width: 40px;
          padding: 6px 16px;
          border: 1px solid #ccc;
          border-radius: 15px;
          cursor: pointer;
          font-size: 13px;
          color: #3f4064;
          transition: background-color 0.3s;
          font-family: var(--font-family);
          

         
        }
         .popular-cities img {

            width: 20px;
            height: 20px;
            position: absolute;
            opacity: 0.7;
          }

        .popular-cities span:hover {
          background-color: #f1f1f1;
        }

        /* لیست شهرها */
        .city-list {
          display: flex;
          justify-content: space-between;
          
          flex-direction: column;
          gap: 10px;
          padding: 0 20px;
          font-size: 14px;
          
          cursor: pointer;
        }

        .city-list div {
          padding: 8px 0;
          border-bottom: 1px solid #e0e0e0;
          position: relative;
        }
        .city-list img {
          width: 16px;
          height: 16px;
          opacity:1;
          position: absolute;
          left: 0;
          
        }
        .city-list strong {
          color: #000;
        }
      }
      #location:checked ~ .location {
        top: 10%;
        opacity: 1;
        transform: translateY(0);
      }

      [for="cloz"] {
        display: inline;
        width: 24px;
        height: 24px;
        background-color: #f9f9f9;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: 20px;
        text-align: center;
        line-height: 24px;
        color: #2b2b2b;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    #cloz:checked ~ .location {
      transform: translate(0, 0) scale(0);
      opacity: 0;
    }

    #cloz,
    #location {
      display: none;
    }
  }
  .active-menu {
    color: #0b0b0b !important;
    font-size: 16px !important;
  }
}
.active {
  display: block !important;
}
